<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <openpos>
            <general>
                <session_lifetime>240</session_lifetime>
            </general>
            <customisation>
                <barcode_scanner_exit_character>tab</barcode_scanner_exit_character>
            </customisation>
            <advanced>
                <force_store_billing_address>0</force_store_billing_address>
                <emulate_shipping_address>0</emulate_shipping_address>
            </advanced>
        </openpos>
     </default>
</config>
