<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <openpos>
            <general>
                <session_lifetime>240</session_lifetime>
            </general>
            <customisation>
                <barcode_scanner_exit_character>tab</barcode_scanner_exit_character>
            </customisation>
            <advanced>
                <force_store_billing_address>0</force_store_billing_address>
                <emulate_shipping_address>0</emulate_shipping_address>
                <module_integration_mode>none</module_integration_mode>
            </advanced>
        </openpos>

        <payment>
            <openpos_layaways>
                <active>1</active>
                <model>Zero1\OpenPos\Model\PaymentMethod\Layaways</model>
                <order_status>processing</order_status>
                <title>OpenPOS Layaways</title>
            </openpos_layaways>
        </payment>
     </default>
</config>
