<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zero1_OpenPos::pos" title="OpenPOS" module="Zero1_OpenPos" sortOrder="10" resource="Zero1_OpenPos::pos"/>
        <add id="Zero1_OpenPos::configuration" title="Configuration" module="Zero1_OpenPos" sortOrder="20" parent="Zero1_OpenPos::pos" action="adminhtml/system_config/edit/section/openpos" resource="Zero1_OpenPos::configuration"/>
    </menu>
</config>
